![NYC Skyline](./Images/nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [ ]:
# Import necessary packages
import pandas as pd
import numpy as np

airbnb_review = pd.read_csv('Dataset/airbnb_last_review.tsv', sep='\t')
airbnb_price = pd.read_csv('Dataset/airbnb_price.csv')
airbnb_room = pd.read_excel('Dataset/airbnb_room_type.xlsx')

airbnb_review.head()
airbnb_price.head()
airbnb_room.head()

airbnb = airbnb_room.copy()
airbnb = airbnb.merge(airbnb_review, on='listing_id').merge(airbnb_price, on='listing_id')
airbnb['price'] = airbnb['price'].str.replace('$', '').str.replace('dollars', '').str.replace(' ','').astype('int32')
airbnb['room_type'] = airbnb['room_type'].str.lower().str.strip().astype('category')
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'])

airbnb.head()

,listing_id,description,room_type,host_name,last_review,price,nbhood_full
0,2595,Skylit Midtown Castle,entire home/apt,Jennifer,2019-05-21,225,"Manhattan, Midtown"
1,3831,Cozy Entire Floor of Brownstone,entire home/apt,LisaRoxanne,2019-07-05,89,"Brooklyn, Clinton Hill"
2,5099,Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Chris,2019-06-22,200,"Manhattan, Murray Hill"
3,5178,Large Furnished Room Near B'way,private room,Shunichi,2019-06-24,79,"Manhattan, Hell's Kitchen"
4,5238,Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Ben,2019-06-09,150,"Manhattan, Chinatown"

What are the dates of the earliest and most recent reviews?

In [24]:
first_review = airbnb['last_review'].min()
last_review = airbnb['last_review'].max()

How many of the listings are private rooms?

In [12]:
private_room_count = len(airbnb[airbnb['room_type']== 'private room'])
private_room_count

2248

What is the average listing price?

In [19]:
mean_price = airbnb['price'].mean().round(2)
mean_price

np.float64(141.78)

In [29]:
review_dates = pd.DataFrame([[first_review, last_review, private_room_count, mean_price]], columns=['first_reviewed','last_reviewed','nb_private_rooms','avg_price'])

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09              2248     141.78